doctype html
html(data-ng-app="remnants")
  head
    title Remnants | Silvermoon (EU)
    link(rel='stylesheet' href='css/style.css')
  body

    div(data-ui-view='', layout="column", layout-fill)

    script(src='js/vendor.js')
    script(src='js/app.js')
